@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
    font-family: font1;
    src: url("./fonts/Aiden.otf");
}

@font-face {
    font-family: font2;
    src: url("./fonts/adrip1.ttf");
}

@font-face {
    font-family: font3;
    src: url("./fonts/docallismeonstreet.otf");
}

@font-face {
    font-family: font4;
    src: url("./fonts/BEORNHEARD.otf");
}

.h {
    font-family: font3;
    font-size: 2em;
}
/* edit page */
.edit {
    background-image: url("./Images/IMGP3195.JPG");
    background-repeat: no-repeat;
    background-position: top left;
    animation: mymove3 15s infinite;
}

/* edit page */
.edit input {
    box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.984);
    font-family: font2;
    font-size: 1.5em;
    margin-bottom: 1em;
}

/* edit page */
.e {
    color: #D4EDF7;
    background-color: #0247FE;
    padding: 8px;
    width: 5ch;
    border-radius: 5px;
    box-shadow: inset 0 5px 5px #110934;
}

/* edit page */
.e:hover {
    box-shadow: inset 0 2px 2px #D4EDF7;
}

/* edit page */
.eb:hover {
    box-shadow: 8px 8px 0px #D4EDF7, -8px -8px 0px #347B98;
}

/* edit page */
.cm {
    box-shadow: inset 0 5px 5px #D4EDF7;
    box-shadow: 8px 8px 0px #110934, -8px -8px 0px #347B98;
    width: 50%;
}

@keyframes mymove3 {
    50% {background-position: center;}
  }

/* edit page */
.edit input {
    color: #4424D6
    ;
    text-shadow: 3px 3px 5px #347B98;
    border-radius: 5px;
    margin-top: .2em;
}

/*! show comments pg */
.show span {
    color: hsl(6, 93%, 71%);
    font-family: font1;
    font-size: 24px;
    backdrop-filter: blur(15px);
}

/*! show comments pg */
.show {
    background-image: url("./Images/hands-in-prayer-with-prayer-book.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*! show comments pg */
.s {
    color: salmon;
    text-shadow: 3px 3px 5px skyblue;
 
}

/*! show comments pg */
.l {
    border-bottom: 2px solid skyblue;
    font-size: 1.9em;
    text-shadow: 3px 3px 5px skyblue;
    animation: mymove2 3s infinite;
}
/* ! show comments page */
@keyframes mymove2 {
    50% {
        box-shadow: 8px 8px 0px skyblue, -8px -8px 0px salmon  
    }
 
}

/*! show comments pg */
.sd {
    box-shadow: 8px 8px 0px salmon, -8px -8px 0px skyblue;
    margin: auto;
    animation: mymove2 5s infinite;
}
/* !show comments page */
.show div {
    padding: 0 10px 0 10px;
}

/*? comments table */
.d {
    padding: 10px;
    font-family: font1;
    font-variant: small-caps;
}

/*? comments table */
.w {
    background-color: white;
    color: #CC9900;
    box-shadow: inset 0 2px 2px #CC9900;
}

/*? comments table */
.p {
    background-color: #CC9900;
}

/* home page */
.home {
    background-image: url("./Images/IMGP3156.JPG");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: font1;
    background-position-y: top;
    animation: mymove1 15s infinite;
    font-variant: small-caps;
}
/* home page */
@keyframes mymove1 {
    50% {
        background-position-y: center;
    }
}

/* home page */
.home button {
    background-color: white;
}

/* home page */
.ho {
    color: white;
    text-shadow: 3px 3px 5px #CC9900;
    border-bottom: 2px solid white;
    backdrop-filter: sepia(10%);
    box-shadow: inset 0 2px 2px #CC9900;
    border-radius: 5px;
    backdrop-filter: blur(5px);
}

/* home page */
.ho:hover {
    color: black;
    background-color: white;
}

/* home page */
.t {
    box-shadow: inset 0 2px 2px #CC9900;
    color: #CC9900;
}

/* home page */
.t:hover {
    background-color: #CC9900;
    color: white;
}
/* home page */
.time {
    color: white;
    font-size: 24px;
}

/* home page */
.clock {
    backdrop-filter: blur(1px);
    box-shadow: inset 0 2px 2px hsl(0, 10%, 92%);
    padding: 0px 9px 0 9px;
    border-radius: 5px;
    background-color: #CC9900;
}

/* ? delete comment page */
.dc {
    background-image: url("./Images/IMGP3287.JPG");
    height: 100vh;
    background-position-y: top;
    animation: mymove 25s infinite;
}
/*?  delete page */
@keyframes mymove {
    50% {
        background-position-x: center;
    }
}

/* ? delete comment page */
.dt {
    color: red;
    text-shadow: 3px 3px 5px white;
    font-family: font4;
    box-shadow: 0 2px 0 hsla(0, 0%, 100%, 0.15);
    background-color: black;
    padding-left: 6px;
    padding-bottom: 6px;
}

/* ? delete comment page */
.b {
    background-color: red;
    width: 5ch;
    padding-left: 10px;
    border-radius: 5px;
    box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.984);
    box-shadow: 8px 8px 0px black, -8px -8px 0px white;
    margin-bottom: 1em;
}
/* ? delete comment page */
.db {
    box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.984);
    box-shadow: 8px 8px 0px red, -8px -8px 0px black;
}
/*? delete comment page */
.hd {
    box-shadow: 8px 8px 0px black, -8px -8px 0px white;
    color: black;
    border-radius: 5px;
}

/*? delete comment page */
.hd:hover {
    box-shadow: 8px 8px 0px white, -8px -8px 0px red;
    background-color: black;
    color: red;
}



/* ! create comments page */
.cc {
    background-image: url("./Images/8.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* ! create comments page */
.cb {
    border: 8px solid black;
    border-radius: 5px;
    box-shadow: inset 0 2px 2px hsl(0, 83%, 2%);
    border-image: repeating-linear-gradient(45deg, black, white, gray 5px) 30;
    box-shadow: 8px 8px 0px black, -8px -8px 0px gray;
}

/* ! create comments page */
.cb input {
    box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.984);
}

/* ! create comments page */
.hc {
    border-bottom: 8px solid black;
    border-image: repeating-linear-gradient(45deg, black, white, gray 5px) 30;
    width: 6.5ch;
}

/* ! create comments page */
.bc {
    background-color: gray;
    color: white;
    box-shadow: 0 2px 0 hsla(0, 0%, 100%, 0.15);
}

/* ! create comments page */
.bc:hover {
    box-shadow: 8px 8px 0px black, -8px -8px 0px white;
}
