body{
    
    background: no-repeat radial-gradient(rgba(62, 44, 233, 0.685), hsl(214, 47%, 23%));
    /* background-color:hsl(214, 47%, 23%) ; */
    max-width: 1400px;
    min-height: 100vh;
    margin: 0 auto;
    
   /* grid-template-rows: 300px, 1fr, 500px; */
    


    
    
}
.wrapper{
    /* grid-template-rows: 300px, 1fr, 500px; */
    display: grid;
}
header{
    grid-row: 1 / 2;
    margin-bottom: rem;
}
.container{
    border: 5px solid hsl(217, 16%, 45%);
    display: flex;
    padding: 1rem;
    width: 75%;
    height: 100px;
    justify-content: space-between;
    margin: 3em auto;
    border-radius: 2rem;
    /* min-width: 20rem; */

}
    
    
    
.score_box{
    background-color: white;
    width: 20%;
    text-align: center;
    font-size: 24px;
    color:hsl(229, 64%, 46%) ;
    border-radius: 1rem;
}
.main-container>*:not(#bg-triangle) {
    position: absolute;
}

.main-container {
    position: relative;
    margin: 0 auto;
    width: min-content;
    grid-row: 2 / 3;
    margin-top: 5rem;
    margin-bottom: 15rem;
}

.generic-piece {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    padding: 1rem;
    border: 1rem solid black;
}


#paper{
    background-color: white;
    border: 1rem solid blue;
    border-radius: 50%;
    padding: 1rem;
    left: -3rem;
    top: -2rem;
}
#paper:hover{
    cursor: pointer;
}


.rock {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1rem solid red;
}

.paper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1rem solid blue;

    
}
.scissors{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1rem solid orange;

}

#rock{
    background-color: white;
    border: 1rem solid red;
    border-radius: 50%;
    padding: 1.5rem;
    bottom: -3.5rem;
    left: 5.5rem;
}
#rock:hover{
    cursor: pointer;
}
#scissors{
    background-color: white;
    border: 1rem solid orange;
    border-radius: 50%;
    padding: 1rem;
    right: -3rem;
    top: -2rem;
  
}
#scissors:hover{
    cursor: pointer;
}

#bg-triangle{
    position: relative;
}
#pa{
    border-radius: .5rem;
    height: 2rem;
    width: 10rem;
    


}
#rules{
    background: no-repeat radial-gradient(rgba(62, 44, 233, 0.685), hsl(214, 47%, 23%));
    color: white;
    width: 5rem;
    margin: 1rem;
}
footer{
    grid-row: 3 / 4;
    margin-top: 5rem;
    display: grid;
    justify-content: right;
}
#yw{
    visibility: hidden;
    
}
#yl{
    visibility: hidden;
}


#playing {
    /* display: none; */
    display: flex;
    justify-content:space-around;

}
.attribution{
    display: none;
}