*{
    margin:  0 ;
    text-align:left;
    box-sizing: border-box;
}
/* body-settings/back-ground.img */
body{
    background-image:  url(cute-halloween-dog-ghost-costume.jpg)  ;
    padding-left: 30px;
    padding-right: 30px;
    display: grid;
    grid-template-columns:repeat(6fr) ;
    grid-template-rows: repeat(8fr);
    gap: 1em;
}
/* nav-settings */
nav{
    padding-top: 1rem;
    grid-column: 1/6;
    grid-row:  1/2;
  

}
/* h3 */
h3{
    padding-bottom: .6em;
}
/* h1 */
h1{
    color: white;
}
/* heard-grid-postioning */
header{
    grid-column: 1/6;
    grid-row: 2/3;
}
/* class-color */
.one{
    color: white;
}
.last{
    color: black;
}
h4{
    margin-right: 3em;
}
/* sup-color */
sup{
    color: orange;
}
/* main-grid-postion/settings */
main{
   grid-column: 1/6;
   grid-row:3/5 ;
   font-size: xx-large;
   line-height: 1.5em;
}
/* links */
a{
    color: white;
    padding-right: 1rem;
    box-shadow: 5px 5px 5px white;
}
/* aside-postioning */
aside{
  grid-column:1/2;
  grid-row: 5/6;
}
/* footer/flex/grid-settings */
footer{
    grid-column: 4/6;
    grid-row: 7/8;
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: x-large;
    padding-top: 1em;
  
}
/* list-settings */
ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    padding-top: .5em;
}
/* form-font */
form{
    font-size: larger;
}
/* placeholder-color */
::placeholder,h4{
    color: orange;
}
/* input */
input{
    padding: .4em;
    box-shadow: 5px 5px 5px white;
}
/* button-settings */
button{
    font-size: medium;
    margin-top: 2rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    color: orange;
    border-radius: 7px;
    box-shadow:10px 5px 5px black;
}
